<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="aster">


    <xacro:property name="PI" value="3.14159265359" />
    <xacro:property name="effort" value="30.0" />
    <xacro:property name="velocity" value="10.0" />

    <material name="white">
        <color rgba="1.0 1.0 1.0 0.8" />
    </material>

    <material name="blue">
        <color rgba="0.0 0.0 1.0 0.8" />
    </material>

    <material name="black">
        <color rgba="0.0 0.0 0.0 1.0" />
    </material>

    <!-- Inertial für Stl körper-->

    <xacro:macro name="default_inertial" params="mass"> <!-- <xacro:default_inertial mass="1.0"/> -->
        <inertial>
            <mass value="${mass}" />
            <inertia ixx="0.0001" ixy="0.0" ixz="0.0"
                iyy="0.0001" iyz="0.0"
                izz="0.0001" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="default_inertial_1" params="gewicht"> <!-- <xacro:default_inertial_1 mass="1.0"/> -->
        <inertial>
            <mass value="${gewicht}" />
            <inertia ixx="0.00001" ixy="0.0" ixz="0.0"
                iyy="0.00001" iyz="0.0"
                izz="0.00001" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="box_inertia" params="m l w h xyz rpy">
        <inertial>
            <origin xyz="${xyz}" rpy="${rpy}" />
            <mass value="${m}" />
            <inertia ixx="${(m/12) * (h*h + l*l)}" ixy="0" ixz="0"
                     iyy="${(m/12) * (w*w + l*l)}" iyz="0"
                     izz="${(m/12) * (w*w + h*h)}" />
        </inertial>
    </xacro:macro>
    

    
    <!-- 
        <xacro:box_inertia m="" l="" w="" h=""
                           xyz="0 0 0" rpy="0 0 0"/> 
    -->


    <xacro:macro name="cylinder_inertia" params="m r h xyz rpy">
        <inertial>
            <origin xyz="${xyz}" rpy="${rpy}" />
            <mass value="${m}" />
            <inertia ixx="${(m/12) * (3*r*r + h*h)}" ixy="0" ixz="0"
                     iyy="${(m/12) * (3*r*r + h*h)}" iyz="0"
                     izz="${(m/2) * (r*r)}" />
        </inertial>
    </xacro:macro>
    <!-- 
        <xacro:cylinder_inertia m="" r="" h=""
                           xyz="0 0 0" rpy="0 0 0"/> 
    -->

</robot>